.outer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 12px;
    text-align: left;
    gap: 1rem;
    padding: 1rem 0;
}

.lightText {
    color: #888;
}