.outer {
    width: 100vw;
    height: 6vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    color: var(--red2);
    font-size: 2.4rem;
    margin-right: 0.5rem;
}

.meta {
    font-size: 0.8rem;
    color: #333;
}

.form{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-left: auto;
}

.form input {
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 12px;
}

.form input {
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 12px;
    font-family: inherit;
}

.form button {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    background-color: var(--red1);
    color: #333;
    font-family: inherit;
    transition-property: all;
    transition-duration: 0.2s;
}

button.selected {
    background-color: var(--red2);
    color: white;
    border-radius: 6px;
}

.form button:not(.selected):hover {
    cursor: pointer;
    border-radius: 6px;
}